.icon-text {
	color: black;
	height: 1.0em;
	width: 1.0em;
	vertical-align: middle;
	margin-right: 1rem;
}

.icon {
	color: black;
	box-shadow: none;
}

.inline-svg {
    display: inline-block;
    width: 1.2em;
	height: 1.2em;
}

.post-content div {
    width: 100%;
}

.site-logo {
    border: solid;
    max-height: 50px;
    border-radius: 5%;
}

.site-header-content {
	text-align: center;
}

.site-home-header .site-nav-logo {
    display: revert;
}

.image-title {
	color:#fff;
}

.post-card-image {
    object-fit: contain;
}

.post-card-image-link {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}


@media (prefers-color-scheme:dark) {
    .slider-header-background {
        background: #191b1f
    }    

	.icon-text,
	.inline-svg,
	.post-full-content,
	.post-card-content-link {
        color: hsla(0, 0%, 100%, .75);
	}
}

.wrap-element {
    position: relative;
    overflow: hidden;
    padding-top: 45%;
}

.wrapped-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.post-slider-image {
    width: 100%;
    height: 200px;
	object-fit: contain
}

.post-card-nav-bar {
	flex: 1 1 100%;
    display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.post-card-title {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.post-full-content a {
	color: #26a8ed;
	box-shadow: none;
}

.post-full-content a:hover {
	background: gray;
    color: black;
    text-decoration: none;
	box-shadow: inset 0 -1px 0 gray;
}

.single-page-nav-bar {
	flex: 1 1 100%;
    display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.my-button-large {
    line-height: 2.0em;
}

.my-button-xlarge {
    line-height: 2.5em;
}

.my-button {
	text-align: center;
	background:black;
	color: #26a8ed;
	float: right;
	border-radius: 25%;
	border: 1px solid gray;
    letter-spacing: .2px;
	padding: 2px 4px;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 1px 1px rgba(255,255,255,0.2);
	box-shadow: inset 0 1px 1px rgba(255,255,255,0.2);
}

.my-button:hover,
.my-button:focus {
	background: gray;
	color: black;
}

.my-button:active {
	-webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.3);
}

/* Slider */

.featured-slider, .featured-slider .slider-cycle {
	position: relative;
}

.featured-slider .post-slider-image {
	height: 400px;
}

@media (max-width:800px) {
	.featured-slider .post-slider-image {
		height: 225px;
	}
}

@media (max-width:500px) {
	.featured-slider .post-slider-image {
		height: 225px;
	}
}

.slider-header-background {
    background: #c5d2d9 no-repeat 50%;
	padding: 0 0 0 0;
}

.slider-header-content {
    padding: 0 0;
    min-height: 200px;
    max-height: 450px;
}

/* Featured Text */

.featured-text {
	position: absolute;
	bottom: 55px;
	right: 30px;
	text-align: right;
	color: #fff;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 20px;
	background: #555;
	background: rgba(0, 0, 0, 0.5);
	margin-top: 4px;
	float: right;
	clear: right;
	width: 35%;
	text-shadow: 0 2px 2px rgba(0,0,0,0.4);
	border-radius: 4px;
	border: none;
}

.featured-text .featured-title {
	font: 28px Helvetica, sans-serif;
	font-weight: 200;
	padding-bottom: 10px;
	text-shadow: 0 2px 2px rgba(0,0,0,0.6);
}

.featured-text .featured-title a {
	color: #fff;
}

.featured-text .featured-title a:hover,
.featured-text .featured-title a:focus {
	color: #26a8ed;
}

/* Bulma */

.media {
	align-items: flex-start;
	display: flex;
	text-align: left;
}
  
.media-left {
	display: table-cell;
	vertical-align: top;
	padding-right: 10px;
	margin-right: 1rem;
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
}

.speaker-media-content {
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 1;
	text-align: left;
}
  
@media screen and (max-width: 800px) {
	.media-content {
	  overflow-x: auto;
	}
}
	
.speaker-image.is-128x128 img {
	height: 128px;
	width: 128px;
	max-width: 100%;
}

.speaker-avatar {
    display: block;
    overflow: hidden;
    margin: 0 -4px;
    width: 128px;
    height: 128px;
    border: 2px solid #fff;
	background: #e3e9ed;
    border-radius: 2%;
}

.speaker-content {
	font-size: 15px;
	line-height: 24px;
	margin: 0 0 10px;
}

/* Widgets */

.widget {
    height:fit-content;
	float: left;
	border-radius: 10%;
	margin-left: 20px;
	margin-right: 0;
	margin-top: 50px;
	margin-bottom: 0;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.widget ul li {
	background-image: url('./images/arrow-right.png');
	background-position: 0 18px;
	background-repeat: no-repeat;
	padding: 10px 0 0 15px;
	list-style: none;
	margin: 0;
}

.widget ul li a {
	margin: 0 0 8px 0;
}
.widget ul li a:hover,
.widget ul li a:focus {
	color: #439f55;
	text-decoration: underline;
}
.widget-title {
	font-size: 18px;
	line-height: 30px;
	padding-bottom: 10px;
}
.widget-title,.widget-title a {
	color: #555;
}
.widget-title a:hover,
.widget-title a:focus {
	color: #439f55;
}
/* Search Widget */
.widget_search input.s {
	width: 100%;
	height: 40px;
	padding: 0 35px 0 15px;
	color: #777;
	background-color: #f9f9f9;
	background-image: none;
	background-position: right 10px;
	border-color: #eaeaea;
	cursor: text;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	text-indent: 0;
}
.widget_search input.s:focus {
	border-color: #ccc;
}
/* Text Widget */
.widget_article {
	margin-bottom: 20px;
}
.widget_article .article-title a:hover {
	text-decoration: underline;
}
.widget_article .post {
	padding-bottom: 20px;
}
.widget_article .article-content p {
	margin-bottom: 0px;
}
