{{ $name := .Get "name"}}
{{ $img := .Get "img"}}
{{ $github := .Get "github"}}
{{ $twitter := .Get "twitter"}}
{{ $linkedin := .Get "linkedin"}}
{{ $icons := .Get "icons"}}

<h2>{{ print $icons }}</h2>

<article class="media">
  <figure class="media-left">
    <p class="speaker-image is-128x128">
      {{ if $img }}
        <img src="{{ $img }}">
      {{ else }}
      <i class="speaker-avatar">
        {{ partial "icons/avatar.html" .}}
      </i>
      {{end}}
    </p>
  </figure>

  <div class="speaker-media-content">
    <div class="speaker-content">
      <p>
        <strong>{{$name}}</strong>
        <br>
        {{ .Inner | markdownify }}
      </p>
    </div>

      {{ with $github }}
        {{ partial "icons/github.html" .}}
      {{ end }}
      {{ with $twitter }}
          {{ partial "icons/twitter.html" .}}
      {{ end }}
      {{ with $linkedin }}
          {{ partial "icons/linkedin.html" .}}
      {{ end }}
  </div>
</article>
